{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <h1>Les communnity de {{ user }} </h1>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Owner</th>
            <th>creation Date</th>
            <th style="width: 400px"></th>
        </tr>
        {% for community in communities  %}
            <tr>
                <td>{{ community.id }}</td>
                <td>{{ community.name }}</td>
                <td> <img src="{{ asset('images/' ~ community.image) }}" width="40px"></td>
                <td>{{ community.owner }}</td>
                <td>{{ community.creationDate|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('app_admin_community_users', {'id': community.id}) }}"
                       class="btn btn-success">
                        users</a>
                                        <a href="{{ path('app_admin_community_posts', {'id': community.id}) }}"
                                           class="btn btn-primary">
                                            Posts</a>
                    <a href="{{ path('app_admin_community_delete', {'id': community.id}) }}"
                       class="btn btn-danger">
                        Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    {{ parent() }} -admin-user-posts
{% endblock %}