{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion users</h1>


    <table class="table table-striped">

        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Avatar</th>
            <th style="width: 250px"></th>
        </tr>
        {% for user in users  %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td> <img src="{{ asset('images/' ~ user.avatar) }}" width="40px"></td>
                <td>
                   <a class="nav-link" href="{{ path('app_admin_user_posts', {'id': user.id}) }}">
                {{ user.firstName }}
            </a>
                    <a href="{{ path('app_admin_user_delete', {'id': user.id}) }}"
                       class="btn btn-danger">
                        Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    {{ parent() }} -admin-users
{% endblock %}