{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ post.user }} : {{ post.publicationDate|date("d/m/Y") }}</h1>


    <table class="table table-striped">

        <tr>
            <th>Id</th>
            <th>content</th>
            <th>Publication Date</th>
            <th style="width: 400px"></th>
        </tr>
        {% for comment in comments %}


            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.publicationDate|date("d/m/Y") }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_wall_index', {'id': comment.post.id}) }}">
                        {{ comment.post.community }}
                    </a>
                    <a class="btn btn-primary" href="{{ path('app_admin_comment_post', {'id': comment.post.id}) }}">
                        {{ comment.post.id }}
                    </a>
                    <a href="{{ path('app_admin_comment_delete', {'id': comment.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

