{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion posts</h1>


    <table class="table table-striped">

        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Auteur</th>
            <th>Date Publication</th>
            <th style="width: 400px"></th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><img src="{{ asset('images/' ~ post.image) }}" width="40px"></td>
                <td>{{ post.user }}</td>
                <td>{{ post.publicationDate|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('app_admin_post_detail', {'id': post.id}) }}"
                       class="btn btn-success">
                        detail</a>
                    <a href="{{ path('app_admin_post_comments', {'id': post.id}) }}"
                       class="btn btn-primary">
                        comments</a>
                    <a href="{{ path('app_admin_post_delete', {'id': post.id}) }}"
                       class="btn btn-danger">
                        Delete</a>


                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    {{ parent() }} -admin-posts
{% endblock %}