{% extends 'base.html.twig' %}

{% block title %}Hello MurController!{% endblock %}

{% block body %}
    <div class="mur">
        {% for poste in  postes %}
            <div class="poste">
                {% if poste.type == 'image' %}
                    <div class="row card_title" style="margin-left: 0; margin-right: 0 ; margin-top: 3px;margin-bottom: 3px">
                        <div class="col-md-1" style="background-color: #b3d5ed">
                            <div class="imgAbt" style="width: 52px; ">
                                <img width="50" height="50" src="{{ asset('images/icon_title.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-9 ">
                            <p>{{ poste.contenu }}</p>
                        </div>
                    </div>
                    <div class="figure-caption ">
                        <img src="../image/{{ poste.lien}} " alt="" class="img_poste">
                    </div>
                    <div class="tool_img " style="margin-top: 3px">
                        <div class="btn-group mr-2" role="group" aria-label="First group" style="height: 35px">
                            <button type="button" class="btn btn-secondary" style="padding: 0"><img src="{{ asset('images/coeur2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                            <button type="button" class="btn btn-secondary" style="padding: 0"><img src="{{ asset('images/like2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                            <button type="button" class="btn btn-secondary aj_com" style="padding: 0"><img src="{{ asset('images/addcomment2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample{{ loop.index }}" aria-expanded="false" aria-controls="multiCollapseExample2" style="padding: 0"><img src="{{ asset('image/voir_comment.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                        </div>
                        <div><em style="color: #0f6674;width: 100%; text-align: right">{{ poste.publicationDate.format('d-m-Y') }} du post :{{ loop.index }}</em></div>
                    </div>
                {% endif %}
                {% if poste.type == 'video' %}
                    <div class="row card_title" style="margin-left: 0; margin-right: 0 ; margin-top: 3px;margin-bottom: 3px">
                        <div class="col-md-1" style="background-color: #b3d5ed">
                            <div class="imgAbt" style="width: 52px; ">
                                <img width="50" height="50" src="{{ asset('images/icon_title.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-9 ">
                            <p>{{ poste.contenu }}</p>
                        </div>
                    </div>
                    <div class="figure-caption ">
                        <iframe src="{{ poste.lien }}" height="360" width="640" allowfullscreen="" frameborder="0"></iframe>
                    </div>
                    <div class="tool_img " style="margin-top: 3px">
                        <div class="btn-group mr-2" role="group" aria-label="First group" style="height: 35px">
                            <button type="button" class="btn btn-secondary" style="padding: 0"><img src="{{ asset('images/coeur2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                            <button type="button" class="btn btn-secondary" style="padding: 0"><img src="{{ asset('images/like2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                            <button type="button" class="btn btn-secondary aj_com" style="padding: 0"><img src="{{ asset('images/addcomment2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample{{ loop.index }}" aria-expanded="false" aria-controls="multiCollapseExample2" style="padding: 0"><img src="{{ asset('image/voir_comment.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                        </div>
                        <div><em style="color: #0f6674;width: 100%; text-align: right">{{ poste.publicationDate.format('d-m-Y') }} du post :{{ loop.index }}</em></div>
                    </div>
                {% endif %}
                <div
                        style="padding: 10px; background-color: #316299; width: 100%; border-radius: 5px;margin-top: 5px "
                        class="box_comment" >
                    <div class="collapse multi-collapse" id="multiCollapseExample{{ loop.index }}">
                        <div class="card card-body">
                            {% for comment in poste.comments %}
                                <div class="row card_title" style="margin-left: 0; margin-right: 0 ; margin-top: 3px;margin-bottom: 3px; background-color: white ; width: 100%">
                                    <div class="col-md-2" style="background-color: #b3d5ed; padding-top: 5px">
                                        <div class="imgAbt" style="width: 52px; ">
                                            <img width="50" height="50" src="{{ asset('images/user.png') }}" />
                                            <p>{{ comment.getUser().nom }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-8 ">
                                        <p>{{ comment.contenu }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}
