{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    {% if nom is defined %}
    <!--  affichage des liste de groupe  ________________________________________-->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="contien_liste">
                    <ul class="list-group">
                        <h3><img src="{{ asset('images/admin.jpg') }}" alt="" width="30" height="30">Mes groupe</h3>
                        <div class="accordion " id="accordionExample">
                            {% if groupes is  defined %}
                                {% for groupp in groupes %}

                                    <div class="card">
                                        <div class="card-header" id="heading{{ groupp.id }}">
                                            <h2 class="mb-0 row justify-content-between">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ groupp.id }}"
                                                        aria-expanded="true" aria-controls="collapse{{ groupp.id }}">
                                                    {{ groupp.name }}
                                                    <a href="{{ path('app_index_murcommunity',{'id': groupp.id}) }}"><img src="{{ asset('images/aller.png') }}" alt="" width="30" height="30"></a>
                                                </button>
                                                <!-- <h5 class="  ">{ groupp. }}</h5> -->
                                            </h2>
                                        </div>
                                        <div id="collapse{{ groupp.id }}" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <div class="card-body">

                                                {% for user in  groupp.users %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        {{ user.firstName }}
                                                    </li>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}


                            {% endif %}

                        </div>
                    </ul>
                </div>
                <h3><img src="{{ asset('images/users2.jpg') }}" alt="" width="30" height="30">Community</h3>

                {% if groupesuser is defined  %}
                    {#       affiche les nom des groupe ou on est user mais pas proprio                 #}

                    {% for noms in groupesuser %}

                        <div class="list-group">
                            {#                                            {{ dump(noms.communities.count()) }}#}
                            {% for  user in noms.communities %}
                                <a href="#" class="list-group-item list-group-item-action">{{ user.name }}</a>

                            {% endfor %}








                        </div>
                    {% endfor %}
                {% endif %}



            </div>

            <div class="col-7 " style="padding: 0">
                <div class="row flex border border-info mt-1 rounded" style="background-color: rgba(0,0,0,.03);margin: 0">


                    <div class="col-6 mt-1">
                        {% if nom =='mur' %}
                            <img class="avatar" width="100" height="100" src="../images/{{ nomgroupe.image }}"/>
                            <h3 style="color:#305480">{{ nomgroupe }}</h3>
                        {% else %}
                            {% if user.avatar is not empty %}
                                <img class="avatar" width="100" height="100" src="../images/{{ user.avatar }}"/>
                                <h3 style="color:#305480">{{ user }}</h3>
                            {% else %}
                                <img class="avatar" width="100" height="100" src="{{ asset('images/user.png') }}"/>
                                <h3 style="color:#305480">{{ user }}</h3>
                            {% endif %}
                        {% endif %}


                    </div>
                    <div class="col-6 mt-3 d-flex flex-row-reverse bd-highlight">

                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                    style="background-color: #d6f7ff">Search
                            </button>
                        </form>
                    </div>
                </div>
                <div class="tool_img " style="margin-top: 3px">
                    <div class="btn-group mr-2" role="group" aria-label="First group" style="height: 35px">
                        <div style="padding-right:10px;padding-left:10px;margin-right: 4px;border:2px solid gray;border-radius: 3px;background-color: #7abaff">Ajouter  :  </div>
                        <button type="button" class="btn btn-secondary" style="padding: 0;width: 40px"><img src="{{ asset('images/icon-image.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                        <button type="button" class="btn btn-secondary" style="padding: 0;width: 40px"><img src="{{ asset('images/icon-video.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                        <button type="button" class="btn btn-secondary" style="padding: 0;width: 40px"><img src="{{ asset('images/icon-article.svg') }}" alt="" style="width: 30px; border-radius: 2px"></button>


                    </div>
                </div>
                <!--  affichage des poste ________________________________________-->
                <div class="mur" >
                    {% for poste in  postes %}
                        <div class="poste" style="border-radius: 5px;border: 1px solid gray;padding-left: 8px;padding-bottom: 8px;margin-top: 8px;">
                            {% if poste.type == 'image' %}
                                <div class="row card_title" style="margin-left: 0; margin-right: 0 ; margin-top: 3px;margin-bottom: 3px">
                                    <div class="col-md-1" style="background-color: #b3d5ed">
                                        <div class="imgAbt" style="width: 52px; ">
                                            <img width="50" height="50" src="{{ asset('images/icon_title.png') }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-9 ">
                                        <p>{{ poste.content }}</p>
                                    </div>
                                </div>
                                <div class="figure-caption ">
                                    <img src="../images/{{ poste.image }} " alt="" class="img_poste">
                                </div>
                                <div class="tool_img " style="margin-top: 3px">
                                    <div class="btn-group mr-2" role="group" aria-label="First group" style="height: 35px">
                                        <button type="button" class="btn btn-secondary btn-griaapli" style="padding: 0;background-color: rgba(0,0,0,.03)"><img src="{{ asset('images/coeur2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        <button type="button" class="btn btn-secondary btn-griaapli" style="padding: 0"><img src="{{ asset('images/like2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        <button type="button" class="btn btn-secondary aj_com btn-griaapli" style="padding: 0"><img src="{{ asset('images/addcomment2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        <button class="btn btn-secondary btn-griaapli" type="button" data-toggle="collapse" data-target="#multiCollapseExample{{ loop.index }}" aria-expanded="false" aria-controls="multiCollapseExample2" style="padding: 0"><img src="{{ asset('images/voir_comment.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        {% if nom =='mur' %}
                                            {#    bouton supprimer uniquement   #}
                                            <button type="button" class="btn btn-secondary btn-griaapli" style="padding: 0"><img src="{{ asset('images/delete_post.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>

                                        {% endif %}
                                    </div>
                                    <div><em style="color: #0f6674;width: 100%; text-align: right">{{ poste.publicationDate.format('d-m-Y') }} du post :{{ loop.index }}</em></div>
                                </div>
                            {% endif %}
                            {% if poste.type == 'video' %}
                                <div class="row card_title" style="margin-left: 0; margin-right: 0 ; margin-top: 3px;margin-bottom: 3px">
                                    <div class="col-md-1" style="background-color: #b3d5ed">
                                        <div class="imgAbt" style="width: 52px; ">
                                            <img width="50" height="50" src="{{ asset('images/icon_title.png') }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-9 ">
                                        <p>{{ poste.content }}</p>
                                    </div>
                                </div>
                                <div class="figure-caption ">
                                    <iframe src="{{ poste.image }}" height="360" width="640" allowfullscreen="" frameborder="0"></iframe>
                                </div>
                                <div class="tool_img " style="margin-top: 3px">
                                    <div class="btn-group mr-2" role="group" aria-label="First group" style="height: 35px">
                                        <button type="button" class="btn btn-secondary" style="padding: 0"><img src="{{ asset('images/coeur2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        <button type="button" class="btn btn-secondary" style="padding: 0"><img src="{{ asset('images/like2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        <button type="button" class="btn btn-secondary aj_com" style="padding: 0"><img src="{{ asset('images/addcomment2.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample{{ loop.index }}" aria-expanded="false" aria-controls="multiCollapseExample2" style="padding: 0"><img src="{{ asset('image/voir_comment.png') }}" alt="" style="width: 30px; border-radius: 2px"></button>
                                    </div>
                                    <div><em style="color: #0f6674;width: 100%; text-align: right">{{ poste.publicationDate.format('d-m-Y') }} du post :{{ loop.index }}</em></div>
                                </div>
                            {% endif %}
                            <div
                                    style="padding: 10px; background-color: rgba(0,0,0,.03); width: 100%; border-radius: 5px;margin-top: 5px "
                                    class="box_comment" >
                                <div class="collapse multi-collapse" id="multiCollapseExample{{ loop.index }}" style="background-color: rgba(0,0,0,.03)">
                                    <div class="card card-body" >
                                        {% for comment in poste.comments %}
                                            <div class="row card_title" style="margin-left: 0; margin-right: 0 ; margin-top: 3px;margin-bottom: 3px; background-color: white ; width: 100%;border: 2px solid gray  ">
                                                <div class="col-md-2" style="background-color: #b3d5ed; padding: 4px">
                                                    <div class="imgAbt" style="width: 52px; ">
                                                        <img width="50" height="50" src="{{ asset('images/user.png') }}" />

                                                    </div>
                                                    <p style="font-size: 13px">{{ comment.getUser().firstName }}</p>
                                                </div>
                                                <div class="col-md-10 ">
                                                    <p>{{ comment.content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    {% else %}
        {{ parent() }}
    {% endif %}


{% endblock %}
