{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <h1>Groupe {{ community.name }}</h1>

        {% for user in users %}
            {% if user == community.owner %}
                <div class="alert alert-success mt-2">
                    <p> <strong>Createur du groupe </strong></p>
                    <strong>    {{ user.email }}    </strong> <em></em>  {{ user.firstName }} <em></em>  {{ user.lastName }} <em></em>
                </div>
            {% endif %}
        {% endfor %}





        {% for user in users %}
            {% if user == community.owner %}
            {% else %}
            <div class="alert alert-secondary mt-2">
                <strong>    {{ user.email }}    </strong> <em></em>  {{ user.firstName }} <em></em>  {{ user.lastName }}
            </div>
            {% endif %}
        {% endfor %}



        <form method="post">

                <div class="form-group">
                    <label>Email nouveau membre</label>
                    <input type="email" name="email_user_add" class="form-control" >
                </div>

                    <button type="submit" class="btn btn-primary">
                        Ajouter un nouveau membre
                    </button>
                <br>
                <br>


                <div class="text-left">
                        <a href="{{ path('app_wall_index') }}" class="btn btn-outline-primary btn-validation-group">Valider le groupe</a>
                </div>

        </form>


    </div>
{% endblock %}

































