{% extends 'base.html.twig' %}
{% block body %}

    <h1>Les posts de {{community.name}}</h1>

    <table class="table table-striped">


        <tr>
            <th>Id</th>
            <th>image</th>
            <th>publication date</th>

            <th style="width: 250px"></th>
        </tr>
        {% for post in posts  %}
            <tr>
                <td>{{ post.id }}</td>
                <td> <img src="{{ asset('images/' ~ post.image) }}" width="40px"></td>
                <td>{{ post.publicationDate|date("d/m/Y") }}</td>
                <td>
                    {#                    <a href="{{ path('app_admin_post_content', {'id': community.id}) }}"#}
                    {#                       class="btn btn-primary">#}
                    {#                        comments</a>#}
                    <a href="{{ path('app_admin_post_delete', {'id': post.id}) }}"
                       class="btn btn-danger">
                        Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    {{ parent() }} -admin-user-community-posts
{% endblock %}